.toggleBtn{
    width: 64px;
    height: 32px;
    background-color: black;
    /* transition: all 0.4s ease-in; */
    display: flex;
    align-items: center;
    border-radius:20px;
    margin: 0 7px;
    cursor: pointer;
    transition: all ease-in 2s;
}


.btnsBall{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    transition: all ease-in 2s;

}


.priceContainer{
    width: 1110px;
    max-width: 100%;
    min-height: 550px;
    margin: 10% auto;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer span{
    font-size: 20px;
    font-weight: bold;
}

.toggleBtn:focus{
    outline-style: none;
}

.cardsContainer{
    margin: 2% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.compareContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px 0;
}

.introCompareContainer{
    width: 645px;
    max-width: 100%;
    min-height: 16px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px;
}

.compareIntroFeature{
    width: 45%;
}

.compareIntroTypeContainer{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compareIntroTypeContainer h5{
    text-align: center;
    width: 33%;
}


@media (max-width: 768px) {
    .cardsContainer{
        flex-direction: column;
    }
  }

@media (max-width: 425px) {
    .compareIntroTypeContainer h5{
        // display: none;
    }
}




