.HeroFooter{
    max-width: 100%;
    min-height: 280px;
    color: white;
    background-image: url(/images/shared/desktop/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1{
        max-width: 400px;
        font-size: 44px;
    }
}


@media (max-width: 1100px){
    
    .HeroFooter{
        padding: 0 5%;
    }
}


@media (max-width: 601px) {

    .HeroFooter{
        flex-direction: column;
        padding: 0 5% ;

        h1{
            font-size: 33px;
            text-align: center;
        }
    }


}