.Home{
}

.featureContainer{
    width: 1110px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.stories{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .stories{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .stories{
        grid-template-columns: repeat(1, 1fr);
    }
}