

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "DM Sans";
  /* background-color: black;
  color: white; */
}

header{
  top: 0;
  position: sticky;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.logo{
  color: black;
  text-decoration: none;
  font-size: 35px;
}

.nav-links{
  margin: 0 5px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.nav-links:hover{
  transform: scale(1.1);
  border-bottom: 1px solid;
}

.inv{
  text-align: center;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid grey;

}


footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 350px;
  /* margin: 20% 0 0 0; */
  padding: 5% 0 0 0;
}

footer .logo{
  color: white;
}

.footer-links{
  text-decoration: none;
  display: inline-block;
  color: white;
}

.footer-links:hover{
  transform: scale(1.1);
  text-decoration: underline;
}

.footerDiv1{
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialsDiv a{
  margin: 0 5px;
}

.socialsDiv a:hover{
  transform: scale(1.5);
}

.footerDiv2{
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerDiv3{
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.madeBy{
  color: white;
}

.footerDiv3 p{
  text-align: center;
}

@media (max-width: 768px) {

  *:hover{
    transform:unset;
    margin: 0;
    text-decoration: none;
    border-bottom: unset;
  }

  .socialsDiv a:hover{
    transform: unset;
    text-decoration: unset;
    border-bottom: unset;
  }

  .nav-links:hover{
    transform: unset;
    text-decoration: unset;
    border-bottom: unset;
  }

  .footer-links:hover{
    transform: unset;
    text-decoration: unset;
    border-bottom: unset;
  }

  header{
    flex-direction: column;
    justify-content: center;
  }

  .menuContainer{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  header nav{
    width: 100%;
  }

  header nav ul{
    transition: all 0.4s ease-in;
    width: 100%;
    flex-direction: column;
  }

  .nav-links{
    width: 100%;
    margin: unset;
    padding: 10px;
    text-align: center;
  }

  footer{
    flex-direction: column;
    justify-content: unset;
    padding: 0 2px;
  }

  .footerDiv1{
    align-items: center;
  }

  .footerDiv2{
    align-items: center;
    margin: 5% 0;
  }

  .footerDiv3{
    align-items: center;
    margin: 0 0 30px 0;
  }

  menu
  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 1px solid;
  z-index: 1;
  }

  .burger
  {
  width:20px;
  height: 3px;
  background: black;
  transition: all .5s ease-in-out;
  border-radius: 20px
  }

  .burger::before,
  .burger::after
  {
  content: "";
  position:absolute;
  width:20px;
  height: 3px;
  background: black;
  transition: all .5s ease-in-out;
  border-radius: 20px
  }


  .burger::before
  {
  transform: translateY(-9px)
  }

  .burger::after
  {
  transform: translateY(9px)
  }

  .menu.open .burger
  {
  transform: translateX(-50px);
  background: transparent;
  box-shadow:none
  }

  .menu.open .burger::before
  {
  transform: rotate(45deg) translate(35px,-35px);
  }

  .menu.open .burger::after
  {
  transform: rotate(-45deg) translate(35px, 35px);
  }

}

@media (max-width: 425px) {
  .nav-links{
    margin: unset;
  }
}

