.Footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 350px;
    /* margin: 20% 0 0 0; */
    padding: 5% 0 0 0;

    .logo{
        color: white;
        text-decoration: none;
        font-size: 35px;
    }

    p{
        margin: 5% 0;

        &:nth-child(odd){
            margin: 0 0 5% 0;
        }
    }

    .footerlinks{
        text-decoration: none;
        display: inline-block;
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }

    .footerDiv1, .footerDiv2, .footerDiv3{
        min-height: 122px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .socialsDiv button{
        margin: 0 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all ease-in 0.2s;

        &:hover{
            transform: scale(1.1);
        }
    }

    .madeBy{
        text-align: center;
        a{
            color: white;
        }
    }
}

@media (max-width: 900px) {

    .Footer{
        flex-direction: column;
        justify-content: unset;
        padding: 0 2px;

        .logo{
            margin: 5% 0 0 0;
        }

        .footerDiv1, .footerDiv2, .footerDiv3{
            align-items: center;
            margin: 2.5% 0;
        }

        .footerlinks{
            text-decoration: none;
            display: inline-block;
            color: white;
    
            &:hover{
                transform: unset;
                text-decoration: none;
            }
        }

        .socialsDiv button{
            &:hover{
            transform: unset;
            text-decoration: unset;
            border-bottom: unset;
          }
        }
    }



  
    // footer{
    //   flex-direction: column;
    //   justify-content: unset;
    //   padding: 0 2px;
    // }
  
    // .footerDiv1{
    //   align-items: center;
    // }
  
    // .footerDiv2{
    //   align-items: center;
    //   margin: 5% 0;
    // }
  
    // .footerDiv3{
    //   align-items: center;
    //   margin: 0 0 30px 0;
    // }
}  
  