.featuredStory{
    max-width: 100%;
    min-height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.featuredStory div{
    width: 387px;
    margin: 0 0 0 7.7%;
}

.featuredStory div h1{
    margin: 8% 0 4% 0;
}

.date{
    color: rgb(170, 170, 170);
}

.featuredStory div p{
    margin: 8% 0;
    color: rgb(170, 170, 170);
}