/* 610 + 830
650 */



.one{
    min-height: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    color: white;
}

.two{
    max-width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}


.introImg{
    width: 830px;
    max-width: 57.6%;
}

.introTextDiv{
    width: 387px;
    max-width: 46.6%;
    height: 304px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
}

.introTextDiv p{
    margin: 5% 0;
}

/* .introTextDiv a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    width: 193.5px;
    max-width: 50%;
} */


@media (max-width: 768px) {
    .introImg{
        max-width: 50%;
    }

    .introTextDiv{
        margin: unset;
    }
  }

@media (max-width: 600px) {
    .one, .two{
        flex-direction: column;
        margin: 0 0 10% 0;
    }

    .introImg{
        max-width: 100%;
        height: unset;
    }

    .introTextDiv{
        max-width: 100%;
    }

    .introTextDiv h1{
        margin: 5% 0 0 0;
    }
  }