.storiesContainer{
    max-width: 100%;
    width: 1440px;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.featuredStory{
    grid-column: 1/-1;
}

@media (max-width: 768px) {
    .storiesContainer {
        grid-template-columns: repeat(2,50%);    
    }
  }

@media (max-width: 425px) {
    .storiesContainer {
        grid-template-columns: 100%;    
    }
}